node_modules/
dist
build

__pycache__/
*.py[codz]
*$py.class
*.pyc

.venv
/gui
/client
/server

.DS_Store

backend/server/repo-*/metadata/
backend/server/repo-*/targets/
backend/server/repo-*/keystore/

.tufup-repo-config
.tufup-repo-config

sign_release_*.sh