node_modules/
dist
build

backend/server/__pycache__/
/__pycache/*
*.py[codz]
*$py.class
*.pyc

.venv
/gui
/client
/server

.DS_Store

backend/server/repo/metadata/
backend/server/repo/targets/

backend/server/.tufup-repo-config

backend/server/repo/keystore
backend/server/repo/targets
