/* For showing through placeholder */
.input-container input:not([value=""]) {
  -webkit-text-fill-color: transparent;
}

.input-container .input-renderer {
  scrollbar-width: none;
}

.input-container .input-renderer::-webkit-scrollbar {
  display: none;
}
